html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.scrollbar-hide {
  scrollbar-width: none
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
  width: 0 !important
}
